/* 
* Place css styles below.
*/
body{
	background-color: #DEDFE3 !important;
	color: #444;
	font: 15px/1.7 Arial, Helvetica, sans-serif;
}

a {
	color: #73b8a1;
	text-decoration: none;
}

a:hover{
	color: #9a9a9a;
}

input {
	border: 1px solid #ccc;
	padding: 8px;
}

table {
	border: 1px solid #ddd;
	width: 100%;

	font-size: 12px;
	text-align: left;
}

table th {
	background: #eee;
	border: 1px solid #bbb;
	padding: 8px;
}

table tr td {
	border: 1px solid #ddd;
	padding: 6px;
}

table tr.alt td {
	background: #e2e2e2;
}

table tr:hover {
	background: #f0f0f0;
}

li {
    list-style-image: url("../images/arrow.png");
}

.personal_details {
    //float: left; 
    width: 100%;
    //height: 200px;
    border: 3px solid #95A3E0;  
    margin: 0px; padding: 0px; border-radius: 6px;
    margin-top: 16px;
}

/* Framework elements */
.wrapper {
	margin: auto;
	width: 100%;
        max-width: 1200px;
}

.clear {
	clear: both;
}

.pagination li {
	display: inline;
	margin-right: 5px;
}

.error {
	background: rgba(247,72,59,.1);
	border: 1px solid #f7483b;
	color: #444;

	max-width: 100%;
	padding: 20px;
	margin: 20px 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form_row
{
    margin-left: auto;
    margin-right: auto;
    width: 340px;
	//height: 50px;
        clear: both;
        //margin: 4px 0px;
        margin-top: 4px;
        margin-bottom: 4px;
}

.left
{
	float: left;
	width: 150px;
	margin-top: 6px;
}

.right
{
	float: right;
        max-width: 190px;
}

// staff header
.s_header div
{
    width: 20%;	
   height: 100%;
}

// change header
.pop_header div
{
width: 50%;
}

.header div
{
    float: left;
    //height: 40px;
     height: 100%;
     width: 33.3%;
}

.heading
{
    font-size: 1.8em;
    font-weight: bold; 
}
.item div
{
    padding: 6px;
    font-size: 12pt;
}

.table_heading
{
    clear: both; 
    background-color: #95A3E0; 
    text-align: center; 
    font-weight: 600; 
    height: 50px;
}

.table_heading div button {
    padding: 1px 3px !important;
}

.fancybox-skin { background-color: #DEDFE3 !important; }

.fancybox-lock .fancybox-overlay {
    overflow: auto !important;
    overflow-y: auto !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
#basicModal
{
    display: none;
}
.modal{
    background-color: #DEDFE3;
    z-index: 1 !important;
}
.modal-dialog{
    width: 620px !important;
}

.modal-dialog2{
    width: 920px !important;
}
.add_button
{
    padding: 12px 28px !important;
}

input[type='range'] {  
    -webkit-appearance: none;  
   height: 20px; 
    width: 310px;
    border: solid rgba(0,0,0,0.3) 1px;
    border-bottom: solid rgba(0,0,0,0.5) 1px;
    border-left: solid rgba(0,0,0,0.5) 1px;
   //-webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
   //margin: 3px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 6px;
}  

.staff_button
{
    background-color: rgb(149, 163, 224);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: black;
}
  /*
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background: transparent url(data:image/gif;base64,R0lGODlhDAAMANUAAE5SUsHX7JWiq32GibTH1mlubuPo7sXLza69xo2ao+Hm7Obr8KW2xXN7ftrf4oaSm+3x9lpeXre8v4ycrb7Dxq20tZyqs4aNjXyCgmhwc8Xc8c/U2ZWbnY6Tk+rv9O/0+K/AzIKOl8LZ7np/f9zh5pGgrJ6vvnF2dv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEHACgALAAAAAAMAAwAAAZQQJRwKAw8SsShKHGqKExEkQAjMVgBQo3lQll4rygC5wApfw0AkOTzsRrOAISj7YajQBX3ewEOdzoUe31CEQMjFSSDQxcNBRwbE0lDDBkhKEEAOw==)
top left no-repeat;
    width: 12px;  
    height: 12px;  
    //-webkit-transform: rotate(-90deg);
}  */
  
  .add_button
        {
            padding: 4.2% 7.2% !important;
            margin: 1% .2%;
        }
        
        .add_button_colour
        {
            background-color: #96BAE9;
        }
        
        .area_colour
        {
            background-color: #EA9ACA;
            float: right;
        }
        
        .add_button_colour.pressed
        {
            //background-color: #8ABCA0;
            border-color: #7E5BC2;
            border-width: 2px;
            margin: 1% .1%;
            padding: 4% 7% !important;
        }
        
        .area_colour.pressed
        {
            border-color: #F26A86;
            border-width: 2px;
        }
        
.header_top
{
    width: 100%;
    height: 7em;
//padding: 30px 0px 20px;
}

.header_inner_top
{
    float: left; 
    width: 300px; 
    height: 80px; 
    margin-top: 10px; 
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.logo_header
{
    float: left;
font-size: 35px;
}

.text_header
{
    font-size: 43px;
}
